.operate {
    display: none;

    &.active {
        display: block;
    }
}

.controller {
    padding: 16px;

    >.head {
        margin-bottom: 5px;
    }
}

.svg-wrap {
    width: 100%;

    @media #{$tab} {
        width: 480px;
        margin: 0 auto;
    }
}

.check_icon {
    font-size: 20px;
    margin-right: 5px;
    color: #B0BEC5;

    &.active {
        color: #4CAF50;
    }
}

.radiobox {
    display: none;
}

.inputwrap {
    margin-right: 12px;
}

.label {
    user-select: none;
}