.st0 {
    display: none;
}

.st1 {
    display: inline;
    fill: #CDDC39;
}

.st2 {
    clip-path: url(#XMLID_5_);
    fill: #956432;
}

.st3 {
    clip-path: url(#XMLID_5_);
    fill: #EFA39F;
}

.st4 {
    clip-path: url(#XMLID_5_);
}

.st5 {
    fill: #C78542;
}

.st6 {
    fill: url(#SVGID_1_);
}

.st7 {
    clip-path: url(#XMLID_6_);
    fill: #EFA39F;
}

.st8 {
    fill: #FFECB3;
}

.st9 {
    fill: #EFA39F;
}

.st10 {
    fill: #4DB6AC;
}

.st11 {
    fill: #009688;
}

.st12 {
    fill: #004D40;
}

.st13 {
    fill: #795548;
}

.st14 {
    fill: #884045;
}

.st15 {
    fill: #212121;
}

.st16 {
    fill: #956432;
}

.st17 {
    fill: #E57373;
}

.st18 {
    fill: #4DD0E1;
}

.st19 {
    display: inline;
    fill: #956432;
}

.st20 {
    display: inline;
    fill: #C78542;
}

.st21 {
    display: inline;
    fill: #EFA39F;
}

.st25 {
    display: inline;
    fill: #4DB6AC;
}

.st26 {
    display: inline;
    fill: #009688;
}

.st27 {
    display: inline;
    fill: #004D40;
}